body {
    background: #ffffff; }
    body.is-preload *, body.is-preload *:before, body.is-preload *:after {
      -moz-animation: none !important;
      -webkit-animation: none !important;
      -ms-animation: none !important;
      animation: none !important;
      -moz-transition: none !important;
      -webkit-transition: none !important;
      -ms-transition: none !important;
      transition: none !important; 
}
 menu, header, nav{
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    }
    menu, nav{
        display: block; }
    }
    #banner {
        -ms-flex-align: center;
        -ms-flex-pack: center;
        background-color: #111111;
        color: rgba(255, 255, 255, 0.5);
        -moz-align-items: center;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-justify-content: center;
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        background-image: url("../../images/banner.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-top: 0;
        display: -ms-flexbox;
        height: 35rem !important;
        min-height: 35rem;
        overflow: hidden;
        position: relative;
        text-align: center;
        width: 100%; }
        #banner input, #banner select, #banner textarea {
          color: #ffffff; }
        #banner a {
          color: #ce1b28; }
        #banner strong, #banner b {
          color: #ffffff; }
        #banner h1, #banner h2, #banner h3, #banner h4, #banner h5, #banner h6 {
          color: #ffffff; }
        #banner blockquote {
          border-left-color: rgba(255, 255, 255, 0.25); }
        #banner code {
          background: rgba(255, 255, 255, 0.075);
          border-color: rgba(255, 255, 255, 0.25); }
        #banner hr {
          border-bottom-color: rgba(255, 255, 255, 0.25); }
        #banner input[type="submit"],
        #banner input[type="reset"],
        #banner input[type="button"],
        #banner button,
        #banner .button {
          background-color: transparent;
          box-shadow: inset 0 0 0 1px #ffffff;
          color: #ffffff !important; }